html{
    background: url("./images/Horde_Logo.jpg") center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner{
    text-align: center;
}